<div class="card" style="width: 18rem;">
  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <div class="card-text">
      <div class="row">
        <div class="col">
          <img [src]="images_url + '/image/' + product.image" width="100%">

        </div>
      </div>
      <table>
        <tr>
          <td>Price: </td>
          <td>{{ product.price }}</td>
        </tr>
        <tr>
          <td>Available: </td>
          <td>{{ product.availability ? product.availability : 'No' }}</td>
        </tr>
      </table>

    </div>
    <a [routerLink]="['/product', product.id]" class="btn btn-primary">Order</a>
    <a class="btn btn-primary" (click)="openEditDialog()">Edit</a>
    <a class="btn btn-primary" (click)="deleteProduct()">Delete</a>
  </div>
</div>